body {
  font-family: $sansone;
}

header {
  background-color: $light-gray;
}
#countdown {
  display: flex;
  gap: 10px;
  div {
    display: flex;
    flex-direction: column;
  }
}
.header-logo {
  padding-top: 40px;
}

.front-page {
  .hero {
    position: relative;
    .background-overlay {
      position: absolute;
      right: 330px;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-position: right !important;
      background-size: contain !important;
      @media (max-width: 1580px) {
        right: 200px;
      }
      @media (max-width: $xxl) {
        right: 0px;
      }
      @media (max-width: $xl) {
        right: -80px;
      }
      @media (max-width: $lg) {
        display: none;
      }
    }
    .giveaway {
      background-color: $light-gray;
      padding-top: 170px;
      @media (max-width: $lg) {
        padding-top: 100px;
      }
      &__desc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $dark-blue;
        &--top {
          font-weight: 400;
          @media (max-width: $md) {
            font-size: 40px;
            line-height: 50px;
          }
        }
        &--bottom {
          font-weight: 300;
          @media (max-width: $md) {
            font-size: 20px;
            line-height: 32px;
          }
        }
        @media (max-width: $lg) {
          padding: 0 80px;
        }
        @media (max-width: $sm){
          padding: 0;
        }
      }

      .timer-box {
        @media (max-width: $lg) {
          padding: 0;
        }
        .event-timer {
          width: 100%;
          margin-top: 150px;
          display: flex;
          align-items: center;
          position: relative;

          @media (max-width: $lg) {
            flex-direction: column;
            margin-top: 50px;
          }
          @media (min-width: $md) {
            height: 144px;
          }

          * {
            z-index: 1;
          }
          &::after {
            content: "";
            height: 144px;
            width: 100vw;
            background-color: $white;
            position: absolute;
            left: 100px;
            opacity: 0.95;
            z-index: 0;
            @media (max-width: $lg) {
              display: none;
            }
          }
          .sign-button {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.25px;
            text-transform: uppercase;
            background-color: $light-blue;
            color: $white;
            text-decoration: none;
            font-weight: 600;
            padding: 20px 80px;
            border-radius: 5px;
            min-width: fit-content;
          }

          .data {
            position: relative;
            left: 100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: $dark-blue;

            @media (max-width: $xxl) {
              left: 50px;
            }
            @media (max-width: $xl) {
              left: 20px;
            }
            @media (max-width: $lg) {
              left: 0;
              justify-content: space-evenly;
              margin-top: 20px;
            }
            @media (max-width: $sm) {
              flex-direction: column;
              gap: 20px;
            }

            &__insta {
              &--bottom {
                .insta-link {
                  text-decoration: none;
                  color: $dark-blue;
                }
              }
            }

            &__timer {
              margin-top: 15px;
              &--bottom {
                .countdown-block {
                  gap: 5px;
                  display: flex;
                  align-items: center;
                  .timer-text {
                    text-transform: uppercase;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 1px;
                    opacity: 0.7;
                  }
                }
              }
            }

            &__insta,
            &__timer,
            &__ending {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 11px;
              justify-content: center;
              &--top {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 1px;
                opacity: 0.7;
              }
              &--bottom {
                font-size: 30px;
                line-height: 35px;
                @media (max-width: $lg) {
                  font-size: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
