/* COLORS */
$dark-blue: #20334f;
$light-gray: #F3F5F9;
$white: #FFFFFF;
$light-blue: #4d94ff;
$gray-blue: #374250;

/*   Resolution  */
$xxxl: 1679px;
$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;